/*Шрифты*/
@font-face {
	font-family: 'Franklin gothic medium';
	src: url('../fonts/Franklin Gothic Medium.eot');
	src: local('☺'), url('../fonts/Franklin Gothic Medium.woff') format('woff'), url('../fonts/Franklin Gothic Medium.ttf') format('truetype'), url('../fonts/Franklin Gothic Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: Franklin gothic medium, Arial, sans-serif;
	width: 100%;
}

/*Навигация*/
nav {
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index: 2;
}
.logo {
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	float: left;
	-webkit-animation: comming 2s 1,5s ease;
	-o-animation: comming 2s 1.5s ease;
	animation: comming 2s 1.5s ease;
}

@keyframes comming {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.menu {
	float: left;
}
.menu li {
	float: left;
	line-height: 60px;
	color: white;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-animation: topshift 0.4s ease forwards;
	-o-animation: topshift 0.4s ease forwards;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}
.menu li a {
	color: white;
	text-decoration: none;
	transition: all 0.1s;
	transform: scale(1.0);
	display: inline-block;
}
.dropdown>a:visited {
	color: white;
}
.menu li a:hover {
	color: #f39314;
	transform: scale(1.1);
}
.menu li a:active {
	transform: scale(1.1);
}

@keyframes topshift {
	0% {
		opacity: 0;
		margin-top: -80px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}
.menu li:nth-child(2) {
	animation-delay: 0.4s;

}
.menu li:nth-child(3) {
	animation-delay: 0.8s;

}
.menu li:nth-child(4) {
	animation-delay: 1.2s;

}
.menu li:nth-child(5) {
	animation-delay: 1.6s;

}
.menu li:nth-child(6) {
	animation-delay: 2.0s;

}
.white_btn:visited {
	color: white;
}
.white_btn {
	color: white;
}

/*Главная*/
.main {
	width: 100%;
	height: 100vh;
	/*Почему не работает 100%?	*/
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg_1.jpg) center/cover no-repeat;
}
.tile_content {
	margin-top: 18%; 
	width: 100%;
	float: left;
	color: #2c384a;
	text-align: center;
	opacity: 0;
	-webkit-animation: titlemove 1s ease 2.4s forwards;
	-o-animation: titlemove 1s ease 2.4s forwards;
	animation: titlemove 1s ease 2.4s forwards;
}
@keyframes titlemove {
	0% {
		opacity: 0;
		margin-left: -500px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}
.tile_content h1 {
	font-size: 79px;

}
.tile_content h4 {
	margin-top: 29px;
	font-size: 21px;
	color: #79818d;
}
.tile_content input {
	height: 40px;
	text-align: center;
	padding: 0px 15px;
	border: 0.5px solid #6d7682;
	color: #6d7682;
	border-radius: 5px;
	font-size: 19px;
	background: none;
	margin: 55px 13px 0px 13px;
	transition: all 0.2s;
	transform: scale(1.0);
}
.tile_content input:hover {
	background: #344051;
	color: white;
}
.tile_content input:active {
	transform: scale(1.1);
}
@media (max-width: 992px) {
	.tile_content, .tile_content h4, .tile_content input {
		color: white;
		position: relative;
		z-index: 1;
	}
	.tile_content input {
		border: 2px solid white;
	}
	.main {
		position: relative;
		background: url(../img/boy.png) center 100%/auto 85% no-repeat, url(../img/bg_1.jpg) center/cover no-repeat;
	}
	.main:after {
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
	}
}
@media (max-width: 376px) {
	.tile_content {
		transform: scale(0.6);
	}
}

/*Обо мне*/
.adount_me {
	height: 716px;
	background-color: #fcfdfd;
	text-align: center;
}
.adount_me h2 {
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;
	margin-top: 108px;
	margin-bottom: 31px;
}
.adount_me hr{
	margin: auto;
	color: #eb7800;
	opacity: 1;
}

.img_1 {
	margin-top: 59px;
	margin-bottom: 22px;
}
p {
	font-family: calibri;
	color: #3f495a;
}
.adount_me p {
	font-size: 18px;
	margin-bottom: 34px;

}
.adount_me a {
	display: inline-block;
	width: 157px;
	height: 34px;
	margin-bottom: 97px;
}
.adount_me a:active {
	transform: scale(1.1);
}
@media (max-width: 1001px) {
	.adount_me{
		height: 100%;
	}
}

/*Что я умею*/
.my_skills {
	height: 523px;
	background: url("../img/bg_2.jpg") center/cover no-repeat;
}
.my_skills h2 {
	padding-top: 107px;
	text-align: center;
	font-size: 34px;
	margin-bottom: 31px;
	text-transform: uppercase;
}
.my_skills hr {
	margin: auto;
	margin-bottom: 101px;
	color: #eb7800;
	opacity: 1;
}
.skills ul {
	padding: 0;
	display: flex; 
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 1001px) {
	.skills ul {
		flex-wrap: wrap;
	}
	.my_skills{
		height: 100%;
	}
	.skills li{
		margin-bottom: 60px;
	}
}
.skills li {
	width: 210px;
	height: 166px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
/*Почему при встривании в один столбец элементы идут не по центру?*/
}
.skills img {
	margin-bottom: 34px;
}
.skills h4 {
	margin-bottom: 14px;
	color: #d17700;
	font-size: 18;
	font-family: Bahnschrift, sans-serif;
}
.skills p {
	font-size: 16;
}
.my_skills img:hover {
	animation: swing 1s forwards;
}
@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

/*Кейсы*/
.keys {
	height: 100%;
	/*max-height: 1080px;*/
}
.keys h2 h4 {
	color: #38435;
}
.keys p {
	color: #3f495a;
}
.keys h2 {
	text-align: center;
	font-size: 34px;
	margin-top: 103px;
	margin-bottom: 30px;
}
.keys hr{
	margin: auto;
	margin-bottom: 30px;
	color: #eb7800;
	opacity: 1;
}
.p_top {
	text-align: center;
	font-size: 16px;
}
.carousel-control-prev-icon {
	background-image: url(../img/left.svg);
	height: 40px;
	width: 28px;
}
.carousel-control-next-icon {
	background-image: url(../img/right.svg);
		height: 40px;
	width: 28px;
}
.info_left h4{
	font-size: 25px;
	margin-bottom: 14px;
}
.info_left p {
	font-size: 16px;
	margin-bottom: 15px;
}
.info_left a {
	margin-top: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	max-width: 200px;
	font-size: 16px;
	border: 1px solid #63b5ae;
	border-radius: 5px;
	background: #63b5ae;
	text-decoration: none;
	-webkit-animation: heartBeat 3s infinite;
	-o-animation: heartBeat 3s  infinite;
	animation: heartBeat 3s infinite;
}
@keyframes heartBeat {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	14% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	28% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	42% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	70% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.info_left a:hover {
	background: #db8656;
	color: white;
}
.info_right h4 {
	font-size: 25px;
	margin-bottom: 6px;
}
.info_right p {
	font-size: 20px;
}
@media (max-width: 563px) {
	.info_right p {
		font-size: 16px;
	}
	.info_right h4 {
	font-size: 20px;
	}
	.info_left h4 {
	font-size: 16px;
	}
	.keys {
	height: 100%;
	}
	.info_right p {
		margin-bottom: -63px;
	}
}

/*Прайс*/
.price h2 h3 p {
	color: #1c2534;
}
.price h2 {
	margin-top: 37px;
	font-size: 45px;
	margin-bottom: 54px;
	text-align: center;
}
.price h3 {
	font-size: 29px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.price_1 {
	margin-top: 103px;
	/*border: 2px solid black;*/
	box-shadow: 4px 4px 10px 10px rgba(0,0,0,0.18);
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}
.price form {
	width: 91%;
}
.price select {
	margin-bottom: 45px;
	display: block;
	width: 100%;
	height: 57px;
	font-size: 16px;
	color: #737373;
	text-indent: 23px;
	appearance: none;
	background: url(../img/стрелочка.png) #eee no-repeat 97% 50%;
}
.price select:focus {
	border: 3px solid #db8656;
} 
.price option {
	color: #737373;
	font-size: 16px;
}
.price p {
	margin-top: 23px;
	font-size: 20px;
	font-family: Franklin gothic medium, sans-serif;
	margin-bottom: 0;
}
.price input {
	margin-top: 37px;
	height: 44px;
	max-width: 201px;
	margin-bottom: 37px;
	font-size: 20px;
	color: white;
	border: 1px solid #00b6af;
	border-radius: 5px;
	background-color: #00b6af;
	justify-self: center;
}
@media (max-width: 500px) {
.price h2 {
	font-size: 35px;
}
.price h3 {
	font-size: 20px;
}
}

/*Немного статистики*/
.statistics h2 p{
	color: #1c2534;
}
.statistics {
	background: url("../img/bg_3.jpg") center/cover no-repeat;
	/*height: 499px;*/
	height: 100%;
	text-align: center;
	margin-top: 32px;
}
.statistics .h2_top {
	padding-top: 103px; /*какой-то баг. Приходится использовать падинг вместо марджин.*/
	text-transform: uppercase;
	font-size: 33px;
	margin-bottom: 32px;
}
.statistics hr {
	margin: auto;
	margin-bottom: 88px;
	color: #eb7800;
	opacity: 1;
}
.statistics ul {
	display: flex; 
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
}
.statistics li {
	min-width: 150px;
}
.statistics img {
	-webkit-animation: flip 4s linear infinite ;
	-o-animation: flip 4s linear infinite ;
	animation: flip 4s linear infinite ;
}
@keyframes flip {
	from {
		-webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		-webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -190deg);
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	50% {
		-webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -170deg);
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
		rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	80% {
		-webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
		rotate3d(0, 1, 0, 0deg);
		transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
		rotate3d(0, 1, 0, 0deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	to {
		-webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}
.statistics li h2 {
	font-size: 37px;
	font-family: Impact, sans-serif;
	margin-top: 32px;
	margin-bottom: 25px;
}
.statistics li p {
	font-size: 16px;
	font-family: Franklin gothic medium, sans-serif;
	margin-bottom: 103px;
}

/*Отзывы*/
.reviews {
	height: 100%;
	text-align: center;
	color: #233042;
}
.reviews h2 {
	font-size: 34px;
	margin-top: 104px;
	margin-bottom: 34px;
}
.reviews hr {
	margin: auto;
	margin-bottom: 58px;
	color: #eb7800;
	opacity: 1;
}
.reviews img {
	margin-bottom: 34px;
}

.reviews p {
	font-size: 16px;
	margin-bottom: 34px;
}
.reviews form {
	margin-top: 14px; /*А как здесь сделать кружочек оранжевым и настроить растояние?*/
	margin-bottom: 91px;
}

/*Контакты*/
.contacts {
	/*height: 808px;*/
	height: 100%;
	text-align: center;
	color: white;
	background: url("../img/bg_4_2.jpg") center/cover no-repeat;
	background-attachment: fixed;
	position: relative;
}
.contacts h2 {
	padding-top: 105px;
	font-size: 33px;
	margin-bottom: 32px;
}
.contacts hr {
	margin: auto;
	margin-bottom: 32px;
	color: #eb7800;
	opacity: 1;
}
.contacts p {
	color: white;
	font-size: 16px;
	margin-bottom: 45px;
}
.contacts ul {
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
	margin-left: 7.92%;
}
.contacts li {
	min-width: 154px;
	margin-bottom: 37px;
	margin-right: 7.92%;
}
.contacts img {
	margin-bottom: 12px;
}
.send h3 {
	font-size: 20px;
	margin-bottom: 44px;
}

.input_up {
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 29px;
}
.input_up input {
	width: 100%;
	display: block;
	max-width: 352px;
	/*min-width: 300px;*/
	height: 34px;
	font-size: 16px;
	text-indent: 12px;
	color: #5d5d5e;
	background: #d2d5db;
	margin-right: 29px;
	margin-bottom: 14px;
}
.send textarea {
	display: block;
	width: 100%;
	max-width: 732px;
	/*min-width: 300px;*/
	height: 94px;
	font-size: 16px;
	text-indent: 12px;
	color: #5d5d5e;
	background: #d2d5db;
	margin: auto;
	margin-bottom: 28px;
}
@media (max-width: 992px) {
	.input_up input {
		max-width: 732px;
		margin-right: 0;
	}
	.input_up {
		margin-left: 0;
	}
}
.send textarea:focus {
	border: 2px solid #d17700;
}
.input_down input {
	text-align: center;
	padding: 15px 20px 14px 20px;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	background: none;
	margin-bottom: 58px;
}
.input_down input:hover {
	background-color: #d17700;
	border: 1px solid #384354;
	transform: scale(1.1);
}
.send input:focus {
	border: 2px solid #d17700;
}
.networks {
	display: flex; 
	align-items: center;
	justify-content: center;
}
.networks_btn {
	display: flex;
	width: 100%;
	max-width: 420px;
	justify-content: space-between;
	margin-bottom: 60px;
}
.map {
	height: 350px;
	background: url(../img/карта.jpg) center/cover no-repeat;
}
.map h2 {
	text-align: center;
	padding-top: 160px;
}
footer {
	height: 96px;
	width: 100%;
	background: #354051;
	border-bottom: 5px solid #1e232c;
	display: flex;
	align-items: center;
	justify-content: center;
}
.copyright {
	display: block;
	font-size: 14px;
	text-align: center;
	font-family: Arial, sans-serif;
	color: white;
}